body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(235, 235, 235);
}

header, footer {
    background-color: rgb(148, 224, 224);
    padding: 30px;
    margin: 5px;
    text-align: justify;
    font-size: 35px;
    width: 100%;
    border: 5px groove rgb(235, 255, 255);
}

aside {
    background-color: rgb(148, 224, 224);
    float: left;
    width: 30%;
    padding: 5px;
    margin: 10px;
    text-align: start;
    border: 5px groove rgb(235, 255, 255);
}

section {
    background-color: rgb(148, 224, 224);
    float: right;
    width:60%;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: start;
    border: 5px groove rgb(235, 255, 255);
}

h1 {
    font-size: 2.5em;
}

nav {
    text-align: justify;
}

article {
    border-bottom: 2px solid grey;
}

.info-container {
    float:right;
}

img, td {
    max-width: 100%;
}

h2 {
    font-size: 1.875em;
}

p, ul {
    font-size: 1em;
}