body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(235, 235, 235);
}

header, footer {
    background-color: rgb(34, 196, 196);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    clear: both;
}

.main-content {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

aside {
    background-color: white;
    float: left;
    display: block;
    width: 45%;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px grey;
    text-align: start;
    border-left: 5px solid rgb(34, 196, 196);
}

section {
    background-color: white;
    float:right;
    clear:right;
    display: block;
    margin-top: 2em;
    width:45%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px grey;
    text-align: start;
    border-left: 5px solid rgb(34, 196, 196);
}

.icon {
    margin-right: 5px;
    position: relative;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.25em;
}

p, ul {
    font-size: 1em;
    line-height: 1.5em;
    clear: both;
}

td {
    float: left;
    margin-right: 10px;
    text-align: center;
    
    font-size: 1.875em;
    opacity: 1;
}

td:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: inline;
}

article {
    border-bottom: 1px solid lightgrey;
}

.info-container {
    float:right;
}

img {
    max-width: 50%;
}