* {box-sizing: border-box;}

html {
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 100%;
    background-color: rgb(235, 235, 235);
    width: 100%;
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    background-image: linear-gradient(to right, rgb(14, 218, 133), rgb(29, 230, 230));
    padding: 20px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

nav a {
    display: contents;  /*fix for firefox images*/
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

button {
    border: 2px solid rgb(11, 121, 121);
    color: rgb(11, 121, 121);
    background: none;
}

button:hover {
    background-color: rgba(17, 177, 177, 0.5);
}

header {
    background-image: linear-gradient(to right, rgb(14, 218, 133), rgb(29, 230, 230));
    padding: 5px;
    text-align: start;
    width: 100%;
    display: flex;
    margin: auto;
    color: grey;
    line-height: .5em;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 0 3px 3px grey;
    margin-bottom: 2em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    box-shadow: 3px 3px 0px 0px grey;
    border-top: 2px solid rgb(20, 196, 196);
    border-left: 5px solid rgb(17, 177, 177);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
}

.about-container-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    box-shadow: 3px 3px 0px 0px grey;
    border-left: 5px solid rgb(17, 177, 177);
    background-color: white;
    text-align: center;
    padding: 10px;
}

.child-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

footer, .top-footer {
    background-image: linear-gradient(to right, rgb(29, 230, 230), rgb(14, 218, 133));
    padding: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: white;
}

.top-footer {
    box-shadow: -3px 0 3px 3px grey;
    margin-top: 2em;
}

.skills-box {
    width: 40%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
    box-shadow: 3px 3px 0px 0px grey;
    border-top: 2px solid rgb(20, 196, 196);
    border-left: 5px solid rgb(17, 177, 177);
    margin-top: 2em;
}

.project-box {
    width: 80%;
    background-color: white;
    padding: 10px;
    padding-right: 40px;
    box-shadow: 3px 3px 0px 0px grey;
    text-align: start;
    border-top: 2px solid rgb(20, 196, 196);
    border-left: 5px solid rgb(17, 177, 177);
    margin-top: 2em;
}

.intro-box {
    width: 80%;
    padding-bottom: 2em;
}

.intro-box p {
    margin: 0px;
}

.col1, .col2 {
    text-align: start;
    width: 50%;
}

/*intro-box*/
h1 {
    font-size: 3.5em;
    color: white;
    line-height: 1.5em;
    margin: 0;
}

/*intro-box subtitle*/
h5 {
    font-size: 2.5em;
    color: rgb(11, 121, 121);
    line-height: 1.5em;
    margin: 0;
}

.intro-box p {
    color: rgb(11, 121, 121)
}

/*projects, contact*/
h2 {
    font-size: 1.875em;
    border-bottom: 1px solid lightgrey;
    margin: auto;
}

/*skills-box, project subtitle*/
h3 {
    font-size: 1.25em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    text-align: start;
}

p, ul {
    font-size: 1em;
    line-height: 1.5em;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    
    text-align: center;
    font-size: 1.875em;
    opacity: 1;

    margin-top: auto;
    margin-right: auto;
}

td::after {
    content: "";
    clear: both;
    display: table;
}

td:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

nav img {
    width: 100%;
    height: auto;
}

.pic {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
}

.pic:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 2px solid rgb(11, 121, 121);
}

.jump {
    transition: margin 0.5s ease-out; 
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    margin-top: 5px;
}

.jump:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 2px;
}

ul.arrow li {
    background: url("/icons/baseline-arrow_right-24px.svg") no-repeat -10px 0;
    padding-left: 10px;
    margin-right: -10px;
    list-style: none;
}

ul.nested li {
    background: url("/icons/baseline-keyboard_arrow_right-24px.svg") no-repeat -10px 0;
    padding-left: 10px;
    margin-right: -10px;
    list-style: none;
}

ul.relative {
    text-align: start;
    position: relative;
    line-height: 2em;
}

li#work {
    list-style-image: url("/icons/baseline-work-24px.svg");
}

li#home {
    list-style-image: url("/icons/baseline-home-24px.svg");
}

li#education {
    list-style-image: url("/icons/baseline-school-24px.svg");
}

li#email {
    list-style-image: url("/icons/baseline-email-24px.svg");
}

/*when screen is < 813px wide, stack columns*/
@media screen and (max-width: 813px) {
    .about-container, .child-flex-container {
        width: 100%;
        flex-flow: row wrap;
    }
    
    .about-container-1, .flex-container, .skills-box, .project-box {
        flex-flow: column wrap;
        width: 100%;
    }

    .about-container, .about-container-1, .skills-box, .project-box {
        border-right: 1px solid rgb(235, 235, 235);
    }

    h1 {
        font-size: 2.5em;
    }

    h5 {
        font-size: 2em;
    }

    img.resize {
        max-width: 100%;
        height: auto;
    }

    * {
        word-wrap: break-word;
    }
}